.fte-summary h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 28px;
}

.fte-summary h2 span {
  font-size: 16px;
  color: #6b7280;
  margin-left: 6px;
}

.donut-chart {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin: 0 auto;

  background:
    conic-gradient(
      #10b981 0% 33.33%,
      #2563eb 33.33% 66.66%,
      #9333ea 66.66% 100%
    );

  display: flex;
  align-items: center;
  justify-content: center;
}

.donut-center {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.donut-center h1 {
  font-size: 42px;
  font-weight: 700;
}

.donut-center p {
  color: #6b7280;
}

.summary-list {
  margin-top: 34px;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.dot-0 {
  background: #10b981;
}

.dot-1 {
  background: #2563eb;
}

.dot-2 {
  background: #9333ea;
}

/* REMOVED dot-3 completely */