.navbar {
  height: 60px;

  background: linear-gradient(135deg, #0f766e, #14b8a6);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 1100;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  position: relative;
}

/* HAMBURGER */
.hamburger {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);

  font-size: 22px;
  cursor: pointer;

  transition: 0.2s;
}

.hamburger:hover {
  opacity: 0.8;
}

/* TITLE */
.title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
}